.main{
    box-shadow: 0px 10px 6px #000;
    border: 1px solid rgba(215,215,215,255);
    border-radius: 15px;
    width: 1000px;
    height: 690px;
    margin-left: 470px;
    margin-top: 150px;
    display: flex;
}

.fh{
    width: 50%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sh{
    width: 50%;
    height: 100%;
    border-radius: 15px;
    border-top-left-radius: 0%;
    background-color: rgba(235,83,104,255);
}

.Login{
    font-family: 'Lucida Sans';
    font-size: 40px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 19%;
}

.logo{

    margin-left: 35%;

}

.flb{
    font-family: 'Lucida Sans';
    font-size: 25px;
    margin-left: 29%;
    
}

.email{
    width: 350px;
    height: 50px;
    background-color: rgba(211,211,211,255) ;
    border: 0cap;
    margin-left: 13%;
    padding-left: 10px;
    font-size: 17px;
}

.pass{
    width: 350px;
    height: 50px;
    background-color: rgba(211,211,211,255) ;
    border: 0cap;
    margin-left: 13%;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 17px;

}

.slb{
    font-family: 'Lucida Sans';
    font-size: 25px;
    margin-left: 25%;

}

.login{
    font-family: 'Lucida Sans';
    font-size: 18px;
    width: 160px;
    height: 40px;
    background-color: #ee593a;
    border-radius: 30px;
    margin-left: 35%;
    color: white;
}

.log{
    padding-left: 49px;
    padding-top: 8px;
}

body{
    background-color: rgba(240,226,226,255);
}




.fl{
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: bold;
    margin-left: 27%;
    margin-top: 52%;
    color: white;
}

.sl{
    font-family: 'Lucida Sans';
    font-size: 30px;
    font-weight: bold;
    margin-left: 40%;
    color: white;
    margin-top: -35px;
}

.pl1{
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-left: 15%;
    color: white;
}

.pl2{
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-left: 21%;
    color: white;
    margin-top: -20px;
}

.pl3{
    font-family: 'Lucida Sans';
    font-size: 20px;
    margin-left: 29%;
    color: white;
    margin-top: -20px;
}


.cm{
    display: flex;
}

